* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

body::before {
    position: absolute;
    content: "";
    opacity: 0.5;
    background: url("img/wallpaper.jpg");
    background-position: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    padding: 20px 50px;
    z-index: 1;
}

nav a img {
    width: 200px;
}

.login-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 50px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
}

.login-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}

.login-wrapper form {
    margin: 20px 0 50px;
}

form .form-control {
    position: relative;
    height: 50px;
    margin-bottom: 12px;
}

.form-control input {
    width: 100%;
    height: 100%;
    background: #333;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
    background: #555;
    padding: 10px 20px 0;
}

.form-control label {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 50%;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
}

.form-control input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-120%);
}

form .btn {
    width: 100%;
    padding: 15px 0;
    background-color: #E50914;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 10px;
    transition: all 0.2s ease;
}

form .btn:hover {
    background-color: #c40814;
}

form .form-help {
    display: flex;
    justify-content: space-between;
}

form .remember {
    display: flex;
}

form .remember input {
    accent-color: #b1b1b1;
    margin-right: 5px;
}

.login-wrapper :where(label, a) {
    font-size: 0.9rem;
}

.login-wrapper :where(label, p, small, a) {
    color: #b1b1b1;
}

.login-wrapper p a {
    color: #fff;
}

.login-wrapper small {
    display: block;
    margin-top: 10px;
}

.login-wrapper small a {
    color: #0071eb;
}

.login-wrapper a {
    text-decoration: none;
}

.login-wrapper a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body::before {
        display: none;
    }

    nav, .login-wrapper {
        padding: 20px;
    }

    nav a img {
        width: 130px;
    }

    .login-wrapper {
        top: 45%;
        width: 100%;
    }

    .login-wrapper form {
        margin: 20px 0 40px;
    }
}